<footer class="one-footer">
    <div class="container our">
        <div class="foot-tablet-wrap">
            <div class="footer-wrap-logo">
                <a class="footer-logo-link" href="../index.html">
                    <svg class="footer-icon" width="16" height="16">
                        <use href="./img/symbol-defs.svg#icon-logo-mob"></use>
                    </svg>
                    <svg class="footer-icon" width="148" height="12">
                        <use href="./img/symbol-defs.svg#icon-logo-text-mob"></use>
                    </svg>
                </a>
                <p class="footer-text">Whether you're looking for a healthy snack or a thoughtful gift, our fruit
                    baskets are the perfect choice.</p>
            </div>
            <div class="footer-wrap-nav">
                <nav>
                    <ul class="footer-nav-list">
                        <li class="footer-list-link"><a class="foot-link" href="how-it-works">how it works</a></li>
                        <li class="footer-list-link"><a class="foot-link" href="vegetables">vegetables</a></li>
                        <li class="footer-list-link"><a class="foot-link" href="reviews">reviews</a></li>
                    </ul>
                </nav>





                <address class="footer-address">

                    <ul class="footer-address-list">
                        <li class="footer-address-link"><a href="tel:+380684439426" class="foot-address">+380 (68)
                                443-94-26</a></li>
                        <!--можно вставить ссылку на  google maps-->
                        <li class="footer-address-link"><a href="address:1678 S. Pioneer Road Salt Lake City UT 84104"
                                class="foot-address">1678 S. Pioneer Road Salt Lake City UT 84104</a></li>

                    </ul>
                </address>

            </div>
        </div>
        <div class="footer-wrap-policy">
            <p class="footer-privacy">Privacy Policy / Cookie settings</p>
            <p class="footer-privacy">&#169;Green Harvest 2023</p>
        </div>
    </div>

</footer>