<div class="container header-container">
  <!-- ------logo mob------ -->
  <a class="logo-link" href="./index.html">
    <span class="logo">
      <svg class="logo-icon-p1" width="16" height="16">
        <use href="./img/symbol-defs.svg#icon-logo-mob"></use>
      </svg>
      <svg class="logo-icon-p2" width="12" height="12">
        <use href="./img/symbol-defs.svg#icon-logo-text-mob"></use>
      </svg>
    </span>
    <!-- ------end logo mob------ -->

    <!-- -------logo tab+desk------- -->
    <span class="logo-desk">
      <svg class="logo-icon-p1" width="18px" height="18px">
        <use href="./img/symbol-defs.svg#icon-logo-desktop"></use>
      </svg>
      <svg class="logo-icon-p2" width="168px" height="15px">
        <use href="./img/symbol-defs.svg#icon-logo-text-desktop"></use>
      </svg>
    </span>
  </a>
  <!-- ------------------ end logo tab desk--------------- -->

  <!-- ------------------ navigation desk --------------- -->
  <span class="nav-btn">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <button class="nav-item-btn">
            <a class="nav-item-link" href="">How It Works</a>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-item-btn">
            <a class="nav-item-link" href="">Vegetables</a>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-item-btn">
            <a class="nav-item-link" href="">Reviews</a>
          </button>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-btn-desk">shop now</button>
  </span>
  <!-- ------------------ end navigation desk --------------- -->

  <!-- ------------------ menu btn mob --------------- -->
  <span class="menu-btn-wrap">
    <button class="menu-btn" type="button">
      <svg class="menu-icon" width="32" height="32">
        <use href="./img/symbol-defs-new.svg#icon-burger-small"></use>
      </svg>
    </button>
  </span>
  <!-- ------------------ end menu btn mob--------------- -->

  <!-- ------------------ menu btn tab desk --------------- -->
  <span class="menu-big-btn">
    <button class="menu-btn" type="button">
      <svg class="menu-icon-big" width="40" height="40">
        <use href="./img/symbol-defs-new.svg#icon-burger-big"></use>
      </svg>
    </button>
  </span>
</div>
<!-- ------------------ menu btn tab desk --------------- -->

<!-- ------------- drop-menu mob tab--------------- -->
<div class="backdrop">
  <div class="drop-menu">
    <div class="close-btn-wrap">
      <button class="close-btn" type="button">
        <svg class="close-icon" width="16" height="16">
          <use href="./img/symbol-defs-new.svg#icon-close-black1"></use>
        </svg>
      </button>
    </div>

    <div class="close-btn-big">
      <button class="close-big-btn" type="button">
        <svg class="close-icon-big" width="20" height="20">
          <use href="./img/symbol-defs-new.svg#icon-close-black1"></use>
        </svg>
      </button>
    </div>

    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item">
          <button class="navigation-item-btn">
            <a href="">How It Works </a>
          </button>
        </li>
        <li class="navigation-item">
          <button class="navigation-item-btn">
            <a href="">Vegetables </a>
          </button>
        </li>
        <li class="navigation-item">
          <button class="navigation-item-btn">
            <a href="">Reviews </a>
          </button>
        </li>
      </ul>
    </nav>

    <button type="button" class="menu-btn-shop">shop now</button>
  </div>
</div>
