<div class="container header-container">
    <!-- <div class="logo"> -->
        <a class="logo-link" href="./index.html">
            <span class="logo">
    <svg class="logo-icon-p1" width="16px" height="16px">
        <use href="../img/symbol-defs.svg#icon-logo-mob">    
        </use>
    </svg>
    <svg class="logo-icon-p2" width="146px"
    height="12px">
        <use href="../img/symbol-defs.svg#icon-logo-text-mob">    
        </use>
    </svg>
</span>

<span class="logo-desk">
    <svg class="logo-icon-p1" width="18px" height="18px">
        <use href="../img/symbol-defs.svg#icon-logo-desktop">    
        </use>
    </svg>
    <svg class="logo-icon-p2" width="168px" height="15px">
        <use href="../img/symbol-defs.svg#icon-logo-text-desktop">    
        </use>
    </svg>
</span>

</a>
<!-- </div> -->
<span class="menu-btn-wrap">
    <button class="menu-btn" type="button">
    <svg class="menu-icon">
        <use href="../img/symbol-defs.svg#icon-burger-big">
        </use>
    </svg>
    </button>
</span>

<span class="menu-big-btn">
    <button class="menu-btn" type="button">
    <svg class="menu-icon-big" width="27px" height="20px">
        <use href="../img/symbol-defs.svg#icon-icon-burger-big">    
        </use>
    </svg>
</button>
</span>
    </div>

     <div class="drop-menu is-open">    
<div class="close-btn-wrap">
        <button class="close-btn" type="button">
    <svg class="close-icon">
        <use href="../img/symbol-defs.svg#icon-close-mob"></use>
    </svg>
        </button>
</div>

<div class="close-btn-big">
    <button class="close-big-btn" type="button">
<svg class="close-icon-big" width="40px" height="40px">
    <use href="../img/symbol-defs.svg#icon-icon-close-big"></use>
</svg>
    </button>
</div>

        <nav class="navigation">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <button class="navigation-item-btn">
                        <a href="">How It Works
                    </a>
                </button>
                </li>
                <li class="navigation-item">
                    <button class="navigation-item-btn">
                        <a href="">Vegetables
                    </a>
                </button>
                </li>
                <li class="navigation-item">
                    <button class="navigation-item-btn">
                    <a href="">Reviews
                </a>
            </button>
            </li>
            </ul>
        </nav>
        
        <button type="button" class="menu-btn-shop">
            shop now
        </button>
        </div>
    