<div class="container header-container">
    <!-- <div class="logo"> -->
        <a class="logo-link" href="./index.html">
            <span class="logo">
    <svg class="logo-icon-p1">
        <use href="../img/symbol-defs.svg#icon-logo-mob">    
        </use>
    </svg>
    <svg class="logo-icon-p2">
        <use href="../img/symbol-defs.svg#icon-logo-text-mob">    
        </use>
    </svg>
</span>
</a>
<!-- </div> -->
<span class="menu-btn-wrap">
    <button class="menu-btn" type="button">
    <svg class="menu-icon">
        <use href="../img/symbol-defs.svg#icon-burger-big">
        </use>
    </svg>
    </button>
</span>
    </div>

     <div class="drop-menu is-open">
<div class="close-btn-wrap">
        <button class="close-btn" type="button">
    <svg class="close-icon">
        <use href="../img/symbol-defs.svg#icon-close-mob"></use>
    </svg>
        </button>
</div>
        <nav class="navigation">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <button class="navigation-item-btn">
                        <a href="">How It Works
                    </a>
                </button>
                </li>
                <li class="navigation-item">
                    <button class="navigation-item-btn">
                        <a href="">Vegetables
                    </a>
                </button>
                </li>
                <li class="navigation-item">
                    <button class="navigation-item-btn">
                    <a href="">Reviews
                </a>
            </button>
            </li>
            </ul>
        </nav>
        
        <button type="button" class="menu-btn-shop">
            shop now
        </button>
        </div>
    