<section class="section your_order" id="order">
  <div class="container">
    <h2 class="your_order_title">
      Fresh <span class="your_order_harvest">Harvest</span> Box has got you
      covered
    </h2>
    <p class="your_order_text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <ul class="your_order_container_form">
      <li class="your_order_general_item">
        <div class="form_container">
          <p class="your_order_form_text">
            Ordering <span class="your_order_span_us">from us</span> is quick
            and easy! Fill out
            <span class="your_order_span_the">the form </span> below and we will
            contact you !
          </p>
          <form class="your_order_form">
            <input
              type="text"
              name="Full Name"
              class="input_your_order"
              placeholder="Full Name"
            />
            <input
              type="email"
              name="Email"
              required
              class="input_your_order"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            />
            <textarea
              cols="30"
              rows="10"
              class="textaria_comment"
              placeholder="Comment"
            ></textarea>
            <button type="submit" class="your_order_button">Send</button>
          </form>
        </div>
      </li>
      <li class="your_order_general_item">
        <div class="your_order_container_social">
          <picture>
            <source
              srcset="
                ./img/your_order/Rectangle_mob-1x.jpg 1x,
                ./img/your_order/Rectangle_mob-2x.jpg 2x
              "
              media="(min-width:375px) and (max-width:767px)"
            />
            <source
              srcset="
                ./img/your_order/Rectangle_tab-1x.jpg 1x,
                ./img/your_order/Rectangle_tab-2x.jpg 2x
              "
              media="(min-width:768px) and (max-width:1279px)"
            />
            <source
              srcset="
                ./img/your_order/Rectangle_desk-1x.jpg 1x,
                ./img/your_order/Rectangle_desk-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <img
              src="./img/your_order/Rectangle_tab-1x.jpg"
              alt="Rectangle"
              class="your_order_img"
            />
          </picture>

          <h3 class="your_order_follow">Follow us on our social networks:</h3>
          <ul class="your_order_list">
            <li class="your_order_items">
              <a href="https://www.instagram.com/goitclub/" target="_blank"
                >instagram</a
              >
              <span class="span_your_order">/</span>
            </li>
            <li class="your_order_items">
              <a href="https://www.facebook.com/goITclub/" target="_blank"
                >facebook</a
              >
              <span class="span_your_order">/</span>
            </li>
            <li class="your_order_items">
              <a href="https://www.youtube.com/c/GoIT" target="_blank"
                >youtube</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
