<section class="section-reviews">
  <div class="container-reviews">
    <h2 class="title-reviews">
      Reviews from our <span class="title-second-color">customers</span>
    </h2>
    <p class="description-reviews">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <ul class="customers-list">
      <li class="customers-item">
        <img
          src="./img/john.jpg"
          srcset="./img/john@2x.jpg"
          alt="John Wax"
          width="56"
          height="56"
        />
          <h3 class="name-customers">John Wax</h3>
          <p class="customers-description">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
      </li>
      <li class="customers-item victoria-hidden">
        <img
          src="./img/victoria.jpg"
          srcset="./img/victoria@2x.jpg"
          alt="Victoria Romashenko"
          width="56"
          height="56"
        />
          <h3 class="name-customers">Victoria Romashenko</h3>
          <p class="customers-description">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
      </li>
      <li class="customers-item ihor-hidden">
        <img
          src="./img/ihor.jpg"
          srcset="./img/ihor@2x.jpg"
          alt="Ihor Trachuk"
          width="56"
          height="56"
        />
          <h3 class="name-customers">Ihor Trachuk</h3>
          <p class="customers-description">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
      </li>
    </ul>
  </div>
</section>
