<section class="section-steps" id="howitworks">
  <div class="steps-container">
    <div class="steps-title-container">
      <div class="steps-title">
        <h2 class="visually-hidden">How it works</h2>
      </div>
    </div>
    <div class="steps-text-background">
      <div class="steps-text">
        <h3 class="steps-text-title">
          To order your
          <span class="span-steps-text-title">vegetable</span> basket, simply
          follow these <span class="span-steps-text-title">easy steps</span>
        </h3>
        <p class="steps-text-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>
      <div>
        <ol class="steps-list">
          <li class="steps-list-text">
            <div class="container-steps-list">
              <img
                class="steps-list-number"
                src="./img/img-steps/number1.png"
                alt="number 1"
              />
              <p class="steps-list-number-list">
                Just choose
                <span class="span-steps-list-number-list">the vegetable</span
                >you want to order by clicking on the checkboxes
                <span class="span-steps-list-namber-list">next to it.</span>
              </p>
            </div>
          </li>
          <li class="steps-list-text">
            <div class="container-steps-list">
              <img
                class="steps-list-number"
                src="./img/img-steps/number2.png"
                alt="number 2"
              />
              <p class="steps-list-number-list">
                Click on the
                <span class="span-steps-list-number-list">basket</span>and fill
                out the form.
              </p>
            </div>
          </li>
          <li class="steps-list-text">
            <div class="container-steps-list">
              <img
                class="steps-list-number"
                src="./img/img-steps/number3.png"
                alt="number 3"
              />
              <p class="steps-list-number-list">
                Sit back and relax! Your
                <span class="span-steps-list-number-list"
                  >fresh vegetables</span
                >
                basket will be delivered.
              </p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
