<section class="vegetables" id="vegetables">
  <div class="container vegetables-container">
    <div class="vegetables-title-div">
      <h2 class="vegetables-title">
        organic <span class="vegetables-span">vegetables</span>
      </h2>
    </div>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-items">
        <h3 class="vegetables-subtitle">eggplant</h3>
        <p class="vegetables-subtext">60 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables/carrot@2x.png 2x,
            ./img/vegetables/carrot@1x.png 1x
          "
          src="./img/vegetables/carrot@1x.png"
          alt="eggplant"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
      <li class="vegetables-items">
        <h3 class="vegetables-subtitle">leek</h3>
        <p class="vegetables-subtext">50 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables/carrot-1@2x.png 2x,
            ./img/vegetables/carrot-1@1x.png 1x
          "
          src="./img/vegetables/carrot-1@1x.png"
          alt="leek"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
      <li class="vegetables-items">
        <h3 class="vegetables-subtitle">mushrooms</h3>
        <p class="vegetables-subtext">40 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables/carrot-2@2x.png 2x,
            ./img/vegetables/carrot-2@1x.png 1x
          "
          src="./img/vegetables/carrot-2@1x.png"
          alt="mushrooms"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
      <li class="vegetables-items">
        <h3 class="vegetables-subtitle">corn</h3>
        <p class="vegetables-subtext">60 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables/carrot-3@2x.png 2x,
            ./img/vegetables/carrot-3@1x.png 1x
          "
          src="./img/vegetables/carrot-3@1x.png"
          alt="corn"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
      <li class="vegetables-items">
        <h3 class="vegetables-subtitle">sweet potatoes</h3>
        <p class="vegetables-subtext">50 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables/carrot-4@2x.png 2x,
            ./img/vegetables/carrot-4@1x.png 1x
          "
          src="./img/vegetables/carrot-4@1x.png"
          alt="sweet potatoes"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
      <li class="vegetables-items">
        <h3 class="vegetables-subtitle">carrot</h3>
        <p class="vegetables-subtext">40 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables/carrot-5@2x.png 2x,
            ./img/vegetables/carrot-5@1x.png 1x
          "
          src="./img/vegetables/carrot-5@1x.png"
          alt="carrot"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
    </ul>
  </div>
</section>
