<section class="section vegetables" id="vegetables">
  <div class="container vegetables-container">
    <div class="vegetables-title-div">
      <h2 class="vegetables-title">
        organic <span class="vegetables-span">vegetables</span>
      </h2>
    </div>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-items">
        <h3 class="vegetables-subtitle">eggplant</h3>
        <p class="vegetables-subtext">60 UAH / kg</p>

        <div
          class="img-container"
          description="Most commonly purple, the spongy, absorbent fruit is used in several cuisines. Typically used as a vegetable in cooking, it is a berry by botanical definition."
        >
          <img
            srcset="
              ./img/vegetables/carrot@2x.webp 2x,
              ./img/vegetables/carrot@1x.webp 1x
            "
            src="./img/vegetables/carrot@1x.webp"
            alt="eggplant"
            width="282"
            height="243"
            class="vegetables-image"
          />
        </div>
      </li>
      <li class="vegetables-items">
        <h3 class="vegetables-subtitle">leek</h3>
        <p class="vegetables-subtext">50 UAH / kg</p>
        <div
          class="img-container"
          description="The leek is a vegetable, the broadleaf wild leek. The edible part of the plant is a bundle of leaf sheaths that is sometimes erroneously called a stem or stalk."
        >
          <img
            srcset="
              ./img/vegetables/carrot-1@2x.webp 2x,
              ./img/vegetables/carrot-1@1x.webp 1x
            "
            src="./img/vegetables/carrot-1@1x.webp"
            alt="leek"
            width="282"
            height="243"
            class="vegetables-image"
          />
        </div>
      </li>
      <li class="vegetables-items">
        <h3 class="vegetables-subtitle">mushrooms</h3>
        <p class="vegetables-subtext">40 UAH / kg</p>
        <div
          class="img-container"
          description="A mushroom or toadstool is the fleshy, spore-bearing fruiting body of a fungus, typically produced above ground, on soil, or on its food source."
        >
          <img
            srcset="
              ./img/vegetables/carrot-2@2x.webp 2x,
              ./img/vegetables/carrot-2@1x.webp 1x
            "
            src="./img/vegetables/carrot-2@1x.webp"
            alt="mushrooms"
            width="282"
            height="243"
            class="vegetables-image"
          />
        </div>
      </li>
      <li class="vegetables-items">
        <h3 class="vegetables-subtitle">corn</h3>
        <p class="vegetables-subtext">60 UAH / kg</p>
        <div
          class="img-container"
          description="Maize, also known as corn in North American, is a tall stout grass that produces cereal grain. It was domesticated by indigenous peoples in southern Mexico about 9,000 years ago."
        >
          <img
            srcset="
              ./img/vegetables/carrot-3@2x.webp 2x,
              ./img/vegetables/carrot-3@1x.webp 1x
            "
            src="./img/vegetables/carrot-3@1x.webp"
            alt="corn"
            width="282"
            height="243"
            class="vegetables-image"
          />
        </div>
      </li>
      <li class="vegetables-items">
        <h3 class="vegetables-subtitle">sweet potatoes</h3>
        <p class="vegetables-subtext">50 UAH / kg</p>
        <div
          class="img-container"
          description="The sweet potato is a dicotyledonous plant that belongs to the bindweed or morning glory family. Its large, starchy, sweet-tasting tuberous roots are used as a root vegetable."
        >
          <img
            srcset="
              ./img/vegetables/carrot-4@2x.webp 2x,
              ./img/vegetables/carrot-4@1x.webp 1x
            "
            src="./img/vegetables/carrot-4@1x.webp"
            alt="sweet potatoes"
            width="282"
            height="243"
            class="vegetables-image"
          />
        </div>
      </li>
      <li class="vegetables-items">
        <h3 class="vegetables-subtitle">carrot</h3>
        <p class="vegetables-subtext">40 UAH / kg</p>
        <div
          class="img-container"
          description="The carrot is a root vegetable, typically orange in color, though heirloom variants including purple, black, red, white, and yellow cultivars exist, all of which are domesticated forms of the wild carrot."
        >
          <img
            srcset="
              ./img/vegetables/carrot-5@2x.webp 2x,
              ./img/vegetables/carrot-5@1x.webp 1x
            "
            src="./img/vegetables/carrot-5@1x.webp"
            alt="carrot"
            width="282"
            height="243"
            class="vegetables-image"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
