.discount-container {
    max-width: 375px;
    background-color: #fbfbfb;
    padding: 0 10px;
}
.discount-green-container {
    max-width: 355px;

}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.text-discount {
        font-weight: 600;
        font-size: 48px;
        line-height: 1.04;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #141414;
        /* padding-left: 10px;
        padding-top: 3px; */
               
}

.text-discount-green {
    display: block;
    color: #fbfbfb;
    background-color: #576f35;
        border-radius: 12px;
padding-left: 5px;

}

@media screen and (min-width: 768px) {

.discount-container {
    width: 768px;
    padding: 0 16px;


    }
   
        .text-discount {
width: 704px;
        font-size: 64px;
        line-height: 1.09;
        padding-left: 16px;
        /* padding-top: 8px; */
       
    }

.text-discount-green {
    padding-left: 16px;
}

     .discount-green-container {
            max-width: 736px;

    }
}
   

@media only screen and (min-width: 1280px) {
.discount-container {
    min-width: 1280px;
    padding: 0 100px;

}
    .text-discount {
font-size: 76px;
line-height: 1.05;
padding: 0 0 0 13px;
width: 1067px;
}
    .discount-green-container {
    width: 808px;

}
    .text-discount-green {
        display: inline;
}
}