.container {

}

.header-container {
    /* position: absolute; */
    width: 100%;
    
    padding-top: 20px;
    /* padding-bottom: 48px; */
    background-color: #576F35;  
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    gap: 4px;
}

.logo-link {
}

.logo-icon-p1 {
fill:#FBFBFB;
}

.logo-icon-p2 {
fill:#FBFBFB;
}

.menu-btn-wrap {
}

.menu-btn {
padding: 0;
line-height: 0;
 cursor: pointer;
    border: none;
    background-color: transparent;
}

.menu-icon {
    stroke:#FBFBFB;
}

/* ---dropmenu---- */
.backdrop {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position:fixed;
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.4),
        rgba(20, 20, 20, 0.4)
      );

      opacity: 0;
      visibility: none;
    pointer-events: none;
}

.drop-menu {
    background-color: #7A3145;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

.close-btn {
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.close-icon {
    fill:#FBFBFB;
}

.nav-btn {
    display: none;
}

.navigation-desk {
    display: none;
}

.navigation {
}

.navigation-list {
     
}

.navigation-item {
    margin-bottom: 8px;
}

.navigation-item-btn {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;

    padding: 12px 16px;

    min-width: 115px;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;

    background-color: transparent;
    color: #FBFBFB;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.navigation-item-btn:hover, 
.navigation-item-btn:focus {
    background-color: #FBFBFB;
    color: #7A3145;
}

.navigation-item-btn:active {
    color: rgba(122, 49, 69, 0.7);
    background-color: #FBFBFB;
}

.menu-btn-shop {
    border-radius: 30px;
    border: 1px solid rgba(251, 251, 251, 0.2);

    min-width: 155px;
    min-height: 50px;

    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;

    color: #FBFBFB;
    background-color: transparent;

    display: block;
    margin-bottom: 40px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn-shop:hover,
.menu-btn-shop:focus {
    color: #7A3145;
    background-color: #FBFBFB;
}

.menu-btn-shop:active {
    color: rgba(122, 49, 69, 0.7);
    background-color: #FBFBFB;
}
@media screen and (min-width: 320px) {
    .logo-desk {
        display: none;
    }

    .menu-big-btn {
        display:none;
    }

    .close-btn-big {
        display:none;
    }
}

@media screen and (min-width: 768px) {
 .logo {
    display: none;
}

.logo-desk {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    gap: 4px;
}

.header-container {
    /* padding: 32px 32px 50px; */
    max-width: 768px;
}


.menu-btn-wrap {
    display: none;
}

.menu-big-btn {
    display: block;
    border: none;
}

.menu-icon-big {
    stroke: #FBFBFB;
}

.drop-menu {
    background-color: #7A3145;
    max-width: 351px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
}

.close-btn-wrap {
    display: none;
}

.close-btn-big{
    display: block;
}

.close-big-btn {
    border: none;
    background-color: transparent;
        position: absolute;
        top: 32px;
        right: 32px;
        cursor: pointer;
        width: 40px;
        height: 40px;


}

.close-icon-big {
    fill: #FBFBFB;
    display: block;
}

.nav-btn {
    display: none;
}

}

@media screen and (min-width: 1280px) {
   .container {
   }
   
    .header-container {
        position:absolute;
        top: 0;
    background-color: transparent;
    max-width: 1280px;
    box-sizing: border-box;
   } 
 
.nav-btn {
display: flex;
gap: 20px;
margin-left: auto;
}

.menu-big-btn {
    display: none;
}

.close-big-btn {
    display: none;
}

.nav {
}
.nav-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.nav-item {
    /* margin-right: 20px; */
    margin-left: auto;
}

.nav-item-btn {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    min-width: 81px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;

    background-color: transparent;
    color: #FBFBFB;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-link {
}

.nav-item-btn:hover, 
.nav-item-btn:focus {
    background-color: #FBFBFB;
    color: #7A3145;
}

.nav-item-btn:active {
    color: rgba(122, 49, 69, 0.7);
    background-color: #FBFBFB;
}

.menu-btn-desk {

    border-radius: 30px;
    border: none;

    min-width: 155px;
    min-height: 52px;

    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    color: #FBFBFB;
    background-color: #7A3145;

    margin-left: auto;

    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn-desk:hover,
.menu-btn-desk:focus {
    color: #7A3145;
    background-color: #FBFBFB;
}

.menu-btn-desk:active {
    color: rgba(122, 49, 69, 0.7);
    background-color: #FBFBFB;
}

}