.hero {
    background: #576f35;
    background-image: url(../img/hero/hero-mobile-1x.jpg);
    background-repeat: no-repeat;
    background-size: 375px 370px;
    background-position: bottom;
    height: 812px;
    width: 100%;
}

/* -----------------RETINA 2X MOBILE BACKGRAUND-IMAGE--------------------- */
@media screen and (-webkit-min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppi) {
    .hero {
        background-image: url(../img/hero/hero-mobile-2x.jpg);
    }
}

.main-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

}

.hero-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    padding-top: 100px;
}

.hero-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;

}

/* -----------------FLUID LOYAUT--------------------- */
@media only screen and (min-width: 320px) and (max-width: 375px) {
    .container {
        max-width: 100%;
    }
}

/* -----------------TABLET VERSION--------------------- */
@media screen and (min-width: 768px) {
    .hero {
        background-image: url(../img/hero/hero-tablet-1x.jpg);
        background-size: 768px 539px;
        height: 1024px;
    }

    .main-text {
        gap: 25px;

    }

    .hero-title {
        font-size: 76px;
        padding-top: 122px;

    }

    .hero-text {
        font-size: 16px;
        line-height: 1.25;
        max-width: 603px;
        margin-bottom: 50px;
    }

    @media screen and (-webkit-min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppi) {
        .hero {
            background-image: url(../img/hero/hero-tablet-2x.jpg);
        }
    }
}


/* -----------------DESKTOP VERSION--------------------- */
@media screen and (min-width: 1280px) {
    .hero {
        background-image: url(../img/hero/hero-desktop-1x.jpg);
        background-size: 650px 800px;
        height: 800px;
        background-position: right;
    }

    .main-text {
        justify-content: center;
        align-items: center;
        max-width: 502px;
        gap: 128px;
        height: 800px;
    }

    .hero-text {
        max-width: 472px;
    }


    @media screen and (-webkit-min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppi) {
        .hero {
            background-image: url(../img/hero/hero-desktop-2x.jpg);
        }
    }
}