.your_order {
    background-color: #7A3145;

}

.your_order_title {
    color: #FBFBFB;
font-family: "Inter Tight", sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 50px; 
letter-spacing: -0.72px;
text-transform: uppercase;
margin-bottom: 29px;
  
}
.your_order_harvest{
    color: rgba(251, 251, 251, 0.30);
font-family: "Inter Tight", sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 50px;
letter-spacing: -0.72px;
text-transform: uppercase;
}
.your_order_text {
    color: #FBFBFB;
font-family: "Inter Tight", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; 
margin-bottom: 40px;
width: 100%;
}

.form_container {
    border-radius: 30px;
background: #FBFBFB;
display: flex;
padding: 40px 20px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
height: 100%;
margin-bottom: 20px;
}
.your_order_form_text {
    color: #141414;
font-family: "Inter Tight", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 26px; 
text-transform: uppercase;
width: 100%;
}

.your_order_span_us{
    color: #7A3145;
font-family: "Inter Tight", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.36px;
text-transform: uppercase;
width: 100%;
}
.your_order_span_the{
    color: #576F35;
font-family: "Inter Tight", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.36px;
text-transform: uppercase;
width: 100%;
}
.your_order_form {
    width: 100%;
}
.input_your_order{
    border-radius: 30px;
border: 1px solid rgba(20, 20, 20, 0.20);
height: 46px;
margin-bottom: 15px;
display: flex;
justify-content: center;
align-items: center;
padding-left: 16px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
width: 100%;
}
.input_your_order:hover {
  border-color: #7A3145;
}

.input_your_order:not(:placeholder-shown):invalid {
    border-color:#E74A3B;;
}
.input_your_order:not(:placeholder-shown):valid {
    border-color: #3CBC81;
}

.input_your_order::placeholder{
    color: #141414;
font-family: "Inter Tight", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.28px;
}

.textaria_comment{
    display: block;
    border-radius: 15px;
border: 1px solid rgba(20, 20, 20, 0.20);
width: 100%;
padding-top: 14px;
padding-left: 16px;
height: 91px;
margin-bottom: 20px;
}
.textaria_comment::placeholder{
    color: #141414;
font-family: "Inter Tight", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; 
letter-spacing: -0.28px;

}

.your_order_button{
    display: flex;
width: 320px;
padding: 16px 129px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 30px;
background: #576F35;
border: none;
color: #FBFBFB;
font-family: "Inter Tight", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 18px; 
letter-spacing: -0.21px;
text-transform: uppercase;
}
.your_order_container_social{
    border-radius: 30px;
background-color: #576F35;
padding: 40px 20px;
width: 100%;
height: 100%;
}
.your_order_img {
    margin-bottom: 20px;
}
.your_order_follow{
    color: rgba(251, 251, 251, 0.50);
font-family: "Inter Tight";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 18px; 
letter-spacing: -0.21px;
margin-bottom: 20px;
}
.your_order_items {
    color: #FBFBFB;
font-family: "Inter Tight";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.36px;
}
.your_order_list {
    display: flex;
width: 100%;
align-items: flex-start;
align-content: flex-start;
gap: 8px;
flex-wrap: wrap;
}
.span_your_order {
    margin-left: 8px;
}
 /* Mob */


@media only screen and (min-width: 375px) and (max-width:767px) {
    .your_order{
        padding-top: 80px;
        padding-bottom: 80px;

   }
   .your_order_text {
    width: 335px;
   }
   .form_container {
    height: 533px;
   }
   .input_your_order{
    width: 295px;

   }
   .your_order_button {
    width: 295px;
   }
   .input_your_order:hover {
 
    border-color: #7A3145;
}
.your_order_container_social{
    width: 335px;
height: 465px;
    
}
.your_order_list{
    width: 295px;
}
}

/* Tab */


@media only screen and (min-width: 768px) and (max-width:1279px) {
    .container {
        max-width: 768px;
        padding-top: 0 32px;
    }
    .your_order{
        padding-top: 100px;
        padding-bottom: 100px;

   }

   .your_order_title {
    color: #FBFBFB;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 64px; 
letter-spacing: -0.96px;
text-transform: uppercase;
width: 640px;
margin-bottom: 25px;
    
  
}

.your_order_text {
    color: #FBFBFB;
   font-size: 16px;
line-height: 20px; 
font-family: "Inter Tight", sans-serif;
font-style: normal;
font-weight: 500;
width: 640px;
height: 60px;
margin-bottom: 50px;
}

.your_order_harvest{
   
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 64px;
letter-spacing: -0.96px;
text-transform: uppercase;
line-height: 50px;
letter-spacing: -0.72px;

}

.form_container {
    border-radius: 30px;
background: #FBFBFB;
display: flex;
padding: 50px 100px;
align-items: flex-start;
gap: 50px;
height: 534px; 
width: 628px;
margin-bottom: 20px;
}
.your_order_form_text {

letter-spacing: -0.36px;
width: 428px;
height: 78px;
}
.textaria_comment::placeholder{
    color: #141414;
font-family: "Inter Tight", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
letter-spacing: -0.32px;
}

.textaria_comment {
    margin-bottom: 25px;
}

.your_order_button{
    display: flex;
width: 428px;
display: flex;
padding: 16px 191px;
justify-content: center;
align-items: center;

}
.your_order_container_social{
   
padding: 50px 50px;
width: 628px;
height: 490px;;
}
.your_order_img {
    margin-bottom: 50px;
}
.your_order_follow{
    color: rgba(251, 251, 251, 0.50);
font-family: "Inter Tight", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
letter-spacing: -0.27px;
margin-bottom: 15px;
}

.your_order_items {
    color: #FBFBFB;
font-family: "Inter Tight", sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 32px;
letter-spacing: -0.48px;

}

.your_order_list {
    display: flex;
width: 100%;
align-items: flex-start;
align-content: flex-start;
gap: 8px;
flex-wrap: wrap;
}






}

/* Desktop */

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 100px;
    }
}