.section-steps{
    max-width: 320px;
    min-width: 375px;
}

.steps-container{
    width: 100%;
}

.steps-title{
    padding: 40px 20px;
    margin: 0 auto;
    background-color: #7A3145;
}

.steps-title-img{
    border: none;
    border-radius: 30px;
    color: rgba(20, 20, 20, 0.3);
}

.steps-text-background{
    background-color: #576F35;
    padding: 80px 20px;
}

.steps-text-title{
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.steps-text-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.steps-text{
    margin-bottom: 40px;
}

.steps-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.steps-list-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.6);   
    border-radius: 15px;
    padding: 12px 27px 12px 24px;
    background-color: #fbfbfb;
}
