.section-steps{
    min-width: 320px;
    width: 375px;
    margin: 0 auto;
}

/* container one */
.steps-container{
    width: 100%;
}

.steps-title-container{
    width: 100%;
    padding: 40px 20px;
    background-color: #7A3145;
}

.steps-title{
    height: 450px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 30px;
    background-size: cover;
    background-image: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url(../img/img-steps/Rectangle1x.jpg);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* container two */
.steps-text-background{
    background-color: #576F35;
    padding: 80px 20px;
}

.steps-text-title{
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.span-steps-text-title{
    color: rgba(251, 251, 251, 0.3);
}

.steps-text-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
}

.steps-text{
    margin-bottom: 40px;
}

.steps-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.container-steps-list{
    display: flex;
    flex-direction: row;
}

.steps-list-text{
    border-radius: 15px;
    padding: 12px 27px 12px 24px;
    background-color: #fbfbfb;
}

.steps-list-number{
    margin: 0;
}

.steps-list-number-list{
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.6);
    margin-left: 24px;
    align-content: center;
}

.span-steps-list-number-list{
    font-weight: 700;
    color: #141414;
}

/* steps tab */
@media (min-width: 768px) and (max-width: 1280px){
    .section-steps{
    min-width: 768px;
    height: 1539px;
}

.steps-container{
    width: 100%;
    height: 840px;
}


/* container one */
.steps-title-container{
    width: 100%;
    height: 100%;
    padding: 100px 64px;
}

.steps-title{
    height: 100%;
}

/* container two */
.steps-text-background{
    padding: 100px 159px;
}

.steps-text-title{
    font-size: 32px;
    margin-bottom: 25px;
}

.steps-text-text{
    font-size: 16px;
    line-height: 125%;
}

.steps-text{
    margin-bottom: 50px;
}

.steps-list-number-list{
    font-size: 16px;
    line-height: 125%;
}
}

/* steps desctop */
@media (min-width: 1280px){
    .section-steps{
    min-width: 1280px;
    height: 759px;
}

.steps-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* container one */
.steps-title-container{
    width: 630px;
    padding: 100px;
}

.steps-title{
    height: 100%;
}

/* container two */
.steps-text-background{
    width: 650px;
    padding: 100px 100px 160px 100px;
}

.steps-text-title{
    font-size: 32px;
    margin-bottom: 25px;
}

.steps-text-text{
    font-size: 16px;
    line-height: 125%;
}

.steps-text{
    margin-bottom: 50px;
}

.steps-list-number-list{
    font-size: 16px;
    line-height: 125%;

}
}