.vegetables {
  background-color: #7a3145;
  padding-top: 80px;
  padding-bottom: 80px;
}

.vegetables-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
}

.vegetables-span {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: rgba(251, 251, 251, 0.3);
  padding-bottom: 20px;
}

.vegetables-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
  padding-bottom: 40px;
}

.vegetables-list {
}

.vegetables-items {
  border-radius: 40px;
  padding: 32px 26px;
  width: 334px;
  height: 379px;
  background-color: #fbfbfb;
}

.vegetables-items:not(:last-child) {
  margin-bottom: 20px;
}

.vegetables-subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #7a3145;
  padding-bottom: 12px;
}

.vegetables-subtext {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  padding-bottom: 14px;
}

.vegetables-image {
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1280px) {
}
